In [5]:
import pandas as pd

### Pandas has very usefull read method : read_clipboard. With it you can just copy desired text with right click, or CTRL + C end then run below code

In [6]:
df_toronto = pd.read_clipboard()

In [7]:
df_toronto

,M1A,Not assigned,Unnamed: 2
0,M2A,Not assigned,NaN
1,M3A,North York,Parkwoods
2,M4A,North York,Victoria Village
3,M5A,Downtown Toronto,"Regent Park, Harbourfront"
4,M6A,North York,"Lawrence Manor, Lawrence Heights"
...,...,...,...
174,M5Z,Not assigned,NaN
175,M6Z,Not assigned,NaN
176,M7Z,Not assigned,NaN
177,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
178,M9Z,Not assigned,NaN

### Basic data cleaning :
1. Renaming columns (names have spaces at the end)
2. Droping Nan values
3. Reseting index

In [8]:
column_names = ['Postal Code', 'Borough', 'Neighborhood']
df_toronto.columns = column_names
df_toronto.dropna(inplace=True)
df_toronto.reset_index(drop=True,inplace=True)

In [9]:
df_toronto.head(12)

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."

In [10]:
df_toronto.shape

(103, 3)

# Reading file to DataFrame

In [50]:
df_geo = pd.read_csv('Geospatial_Coordinates.csv')

In [51]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# Cleaning the data

In [52]:
df_geo['Postal Code'].astype(str)
df_geo['Postal Code'] = df_geo['Postal Code'].str.strip()
df_toronto['Postal Code'].astype(str)
df_toronto['Postal Code'] = df_toronto['Postal Code'].str.strip()

# Mering 2 DataFrames

In [53]:
df_final = pd.merge(df_toronto, df_geo, on='Postal Code')

In [54]:
df_final

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,Business reply mail Processing Centre,43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999